body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: beige;
}

#result {
    font-size: 32px;
    font-weight: bold;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 4.5rem;
    margin-top: 3rem;
}